
<form [formGroup]="songForm" (submit)="submitForm()">
  <div class="form-group"  >
    <label for="exampleInputEmail1">Song Title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="title" formControlName="title" placeholder="Type Here">
    <small *ngIf="songForm.get('title')?.invalid && songForm.get('title')?.touched" id="emailHelp" class="form-text text-muted">This field is required</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Artist Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="artist" formControlName="artist" placeholder="Type Here">
    <small *ngIf="songForm.get('artist')?.invalid && songForm.get('artist')?.touched" id="emailHelp" class="form-text text-muted">This field is required</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Artist Image</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="image" formControlName="image" placeholder="Insert Here">
    <small *ngIf="songForm.get('image')?.invalid && songForm.get('image')?.touched" id="emailHelp" class="form-text text-muted">This field is required</small>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!songForm.valid || !isFormTouched()">Submit</button>
</form>
