<div class="modal-body">
  <h5>Here you can see your favorite songs! </h5>
  <app-download-button (OnClickApplyPDFButton)="getDownloadRelatorio()"></app-download-button>
  <hr>
</div>

<div class="content-songs" *ngIf="songs.length > 0, else noSongs">
  <div class="row" *ngFor="let song of songs">
      <app-song-card [song]="song" (isNotFavorite)="getMusics()" ></app-song-card>
  </div>
</div>

<ng-template #noSongs>
  <div class="ff-inter sem-pensamentos">
    <p>There's no favorite songs :(</p>
  </div>
</ng-template>