<div class="jumbotron">
  <h1 class="display-4">Hello, Isabella!</h1>
  <p class="lead">Here you can see your favorite songs of your favorite artists!</p>
  <hr class="my-4">
  <p>You can register then clicking here :) </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Register new Artist</a>
</div>

<div class="content-songs">

  <div class="row">
      <app-song-card
      class="space"
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ408x_IK96DprEy8k8MgPz_SJh4QS0Kscai5mw23ZaQg&s  "
        title="Título da música 1"
        artist="Nome do artista 1">
      </app-song-card>

      <app-song-card
      class="space"
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ408x_IK96DprEy8k8MgPz_SJh4QS0Kscai5mw23ZaQg&s"
        title="Título da música 2"
        artist="Nome do artista 2">
      </app-song-card>

      <app-song-card
      class="space"
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ408x_IK96DprEy8k8MgPz_SJh4QS0Kscai5mw23ZaQg&s"
        title="Título da música 2"
        artist="Nome do artista 2">
      </app-song-card>

      <app-song-card
      class="space"
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ408x_IK96DprEy8k8MgPz_SJh4QS0Kscai5mw23ZaQg&s"
        title="Título da música 2"
        artist="Nome do artista 2">
      </app-song-card>

      <app-song-card
      class="space"
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ408x_IK96DprEy8k8MgPz_SJh4QS0Kscai5mw23ZaQg&s"
        title="Título da música 2"
        artist="Nome do artista 2">
      </app-song-card>

      <app-song-card
      class="space"
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ408x_IK96DprEy8k8MgPz_SJh4QS0Kscai5mw23ZaQg&s"
        title="Título da música 2"
        artist="Nome do artista 2">
      </app-song-card>
      <app-song-card
      class="space"
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ408x_IK96DprEy8k8MgPz_SJh4QS0Kscai5mw23ZaQg&s"
        title="Título da música 2"
        artist="Nome do artista 2">
      </app-song-card>

      <app-song-card
      class="space"
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ408x_IK96DprEy8k8MgPz_SJh4QS0Kscai5mw23ZaQg&s"
        title="Título da música 2"
        artist="Nome do artista 2">
      </app-song-card>

      <app-song-card
      class="space"
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ408x_IK96DprEy8k8MgPz_SJh4QS0Kscai5mw23ZaQg&s"
        title="Título da música 2"
        artist="Nome do artista 2">
      </app-song-card>
    </div>
</div>
